<a routerLink = '/tambah_data'> Tambah Data Baru </a>

<h1> Data Mahasiswa</h1>
<table>
  <th> ID </th>
  <th> NIM </th>
  <th> Nama  </th>
  <th> Alamat </th>
  <th></th>
  <th></th>
    <tr *ngFor = "let data_mhs of data_mahasiswa">
      <td>{{data_mhs.id}}</td>
      <td>{{data_mhs.nim}}</td>
      <td>{{data_mhs.nama_mhs}}</td>
      <td>{{data_mhs.alamat_mhs}}</td>
      <td (click) = "deleteMahasiswa(data_mhs.id)"><a>DELETE</a></td>
      <td [routerLink] = "['/updateData', data_mhs.id]"><a>UPDATE</a></td>
    </tr>


</table>
