<!--<p>works</p>-->
<div>
<a routerLink = "/"> Kembali </a>

<h2>  Tambah Data Baru </h2>

<form id = "formNewDataMhs" name = "formNewDataMhs" #DataMahasiswa = "ngForm" (ngSubmit) = "tambahDataMhs(DataMahasiswa.value)">
  <!--<label> ID: </label><input type="text" name="id_mhs" id="id_mhs" placeholder="Masukkan no urut" ngModel><br/>-->
  <label> NIM: </label><input type="text" name="nim" id="nim" placeholder="masukkan NIM" ngModel><br/>
  <label> Nama: </label><input type="text" name="nama_mhs" id="nama_mhs" placeholder="masukkan Nama" ngModel><br/>
  <label> Alamat: </label><input type="text" name="alamat_mhs" id="alamat_mhs" placeholder="masukkan alamat" ngModel><br/>
  <input type="submit" value = "Tambah Data">
</form>
</div>

<br>
<h3 *ngIf = "isAdded">{{confirmationString}}</h3>
