<!--<p>works</p>-->
<div>
<h2>  Update Data Mahasiswa </h2>

<p *ngIf ="!exist">
  Tidak ada data Mahasiswa! 
</p>

<form id = "formNewDataMhs" name = "formNewDataMhs" #DataMahasiswa = "ngForm" (ngSubmit) = "updateData(DataMahasiswa.value)">
  <!--<label> ID: </label><input type="text" name="id_mhs" id="id_mhs" placeholder="Masukkan no urut" ngModel><br/>-->
  <label> NIM: </label><input type="text" name="nim" id="nim" placeholder="masukkan NIM" [(ngModel)]="data.nim" ngModel><br/>
  <label> Nama: </label><input type="text" name="nama_mhs" id="nama_mhs" placeholder="masukkan Nama" [(ngModel)]="data.nama_mhs" ngModel><br/>
  <label> Alamat: </label><input type="text" name="alamat_mhs" id="alamat_mhs" placeholder="masukkan alamat" [(ngModel)]="data.alamat_mhs" ngModel><br/>
  <input type="submit" value = "Update Data">
</form>
</div>
